<div id="modal-adhesion" class="modal">
    <div class="modal-content">
        <h4 id="title-modal">Adhérer à la cgt Paul Brousse</h4>
        <br>
        <p>
            En remplissant ce formulaire, vous serez rapidement contacté(e) par la CGT Paul BROUSSE.
            Nous répondrons à toutes vos questions et étudierons le meilleur moyen pour que vous puissiez adhérer à la CGT.
        </p>
        <div class="row">
            <form class="col s12">
                <div class="row">
                    <div class="input-field col s12 m6 l6">
                        <input id="firstname" type="text">
                        <label id="firstname" for="firstname">Prénom</label>
                    </div>
                    <div class="input-field col s12 m6 l6">
                        <input id="lastname" type="text">
                        <label id="lastname" for="lastname">Nom de famille</label>
                    </div>
                    <div class="input-field col s12">
                        <input id="service" type="text">
                        <label id="service" for="service">Service</label>
                    </div>
                    <div class="input-field col s12 m6 l6">
                        <input id="email" type="email">
                        <label id="email" for="email">Email</label>
                    </div>
                    <div class="input-field col s12 m6 l6">
                        <input id="phone" type="text">
                        <label id="phone" for="phone">Telephone</label>
                    </div>
                    <div class="center-btn">
                        <a id="adhere-button" class="waves-effect waves-light btn">
                            envoyer
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>  