<div id="modal-adhesion" class="modal">
    <div class="modal-content">
        <h4 id="title-modal">Adhérer à la cgt Paul Brousse</h4>
        <br>
        <p>
            En remplissant ce formulaire, vous serez rapidement contacté(e) par la CGT Paul BROUSSE.
            Nous répondrons à toutes vos questions et étudierons le meilleur moyen pour que vous puissiez adhérer à la CGT.
        </p>
    </div>
</div>  