<div id="modal-newsletter" class="modal">
    <div class="modal-content">
      <h4 id="title-modal">Inscription à la newsletter</h4>
        
        <div class= "row">
            <form class="col s12">
                <div class="row">
                    <div class="input-field col s12">
                      <input id="email" type="email">
                      <label id="label-mail" for="email">Email</label>
                    </div>
                </div>
                <div class="row center-align">
                    <a id="subscribe-button" class="waves-effect waves-light btn btn-large">Valider</a>
                </div>
            </form>
        </div>
        
    </div>
</div>  