<div id="modal-newsletter" class="modal">
    <div class="modal-content">
      <h4 id="title-modal">Inscription à la newsletter</h4>
       <br>
       <p>
       La newsletter est envoyée uniquement aux personnes syndiquées à la CGT Paul BROUSSE. Elles reçoivent ainsi régulièrement l’actualité du syndicat. Ce peut être des articles, des tracts, des événements nationaux, départementaux ou locaux.
        Si vous souhaitez la recevoir rendez-vous à la rubrique «ADHESION».
       </p>
        
        <div class= "row">
            <form class="col s12">
                <div class="row">
                    <div class="input-field col s12">
                      <input id="email" type="email">
                      <label id="label-mail" for="email">Email</label>
                    </div>
                </div>
                <div class="row center-align">
                    <a id="subscribe-button" class="waves-effect waves-light btn">Valider</a>
                </div>
            </form>
        </div>
        
    </div>
</div>  