<div id="modal-search" class="modal">
    <div class="modal-content">
        <h4 id="title-modal">Voici le résultat de votre recherche</h4>
        <div id="modal-main-row" class="row">
            <div class="collection" id="search-result-list">
            </div>
        </div>
    </div>
</div>  