@font-face {
    font-family: 'timess';
    src: url('/public/images/timess.ttf');
}

hr{
    border-top: 1px solid #d20012;
    margin: 0.1em 0;
}

.hr-zone-top{
    margin-bottom: 4%;
}

.hr-zone-bottom{
    margin-top: 4%;
    margin-bottom: 5%;
}

#hide-zone{
    background-color: white;
    position: fixed;
    top: 0;
    height: 11vw;
    min-width: 100%;
    z-index: 2 !important;
}

#logo{
    position: fixed;
    float: left;
    width: 21%;
    left: 2%;
    top: 1%;
    z-index: 3 !important;
}

#slide-out{
    width: 18%;
    margin-top: 9%;
    margin-left: 2%;
    height: 77%;
    padding-bottom: 0;
    z-index: 3 !important;
}

#slideshow{
    position: fixed;
    top: 1.2%;
    left: 27%;
    float: left;
    max-width: 50%;
    z-index: 3 !important;
}

.slideshow-container {
    max-width: 100%;
    max-height: 150px;
    margin: 0 auto;
    overflow: hidden;
    z-index: 3;
}

img{
    width: 100%;
}

.dot {
    cursor: pointer;
    height: 7px;
    width: 7px;
    margin: 0 3px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.dot.active, .dot:hover {
    background-color: #717171;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

#main {
    margin-top: 7%;
    margin-left: 23%;
    margin-right: 5%;
    font-size: 19px !important;
    z-index: -1 !important;
    font-family: "timess", Times, serif;
}

.collection{
    z-index: 1 !important;
}

i.red-icon{
    color: #d20012;
    vertical-align: middle !important;
}

#contact-informations{
    position: fixed;
    font-family: "timess", Times, serif;
    text-align: left;
    top: 2.8%;
    left: 79%;
    font-size: 1.2vw;
    width: 20%;
    z-index: 3;
}

#bat{
    font-size: 1vw;
}

#city{
    padding-left: 7%;
}

#social{
    text-align: center;
    margin-bottom: 5%;
    margin-top: 9%;
}

.fa-facebook{
    color: #a2a2a2;
    transition: color 0.3s ease;
}

.fa-facebook:hover{
    color: #3b5998;
}

.fa-twitter-square{
    margin-left: 8%;
    margin-right: 8%;
    color: #a2a2a2;
    transition: color 0.3s ease;
}

.fa-twitter-square:hover{
    color: #33CCFF;
}

.fa-youtube-square{
    color: #a2a2a2;
    transition: color 0.3s ease;
}

.fa-youtube-square:hover{
    color: #FF3333;
}

#search-bar{
    margin-top: 9%;
    text-align: center;
}

#namanyay-search-btn {
    background:#d20012 !important;
    color:white !important;
    font: 'trebuchet ms', trebuchet !important;
    padding:10px 20px !important;
    border-radius:0 5px 5px 0 !important;
    -moz-border-radius:0 5px 5px 0 !important;
    -webkit-border-radius:0 5px 5px 0 !important;
    -o-border-radius:0 5px 5px 0 !important;
    border:0 none !important;
    font-weight:bold !important;
}

#namanyay-search-box {
    background: #eee !important;
    padding:10px !important;
    border-radius:5px 0 0 5px !important;
    -moz-border-radius:5px 0 0 5px !important;
    -webkit-border-radius:5px 0 0 5px !important;
    -o-border-radius:5px 0 0 5px !important;
    border:0 none !important;
    width:185px !important;
}

.circle {
    border-radius: 10% !important;
    width: 62px !important;
    height: 62px !important;
}

.special-avat{
    padding-left: 90px !important;
}

a:hover {
    cursor:pointer;
}

#zone-1{
    text-align: justify; 
}

#zone-2 .subzone-1{
    text-align: justify;
    width: 50%;
    float: left;
    padding-right: 3%;
}

#zone-3 .subzone-1{
    text-align: justify;
    width: 50%;
    float: left;
    padding-right: 3%;
}

#zone-4 .subzone-1{
    text-align: justify;
    width: 50%;
    float: left;
    padding-right: 3%;
}

.subzone-2{
    padding-left: 51%;
    text-align: justify;
}

.subzone-3{
    padding-left: 51%;
    text-align: justify;
}

.subzone-4{
    padding-left: 51%;
    text-align: justify;
}

.no-display{
    display: none !important;
}

.pagination li.active{
    background-color: #d20012 !important;
}

#label-mail.active{
    color: black !important;
}

input:focus{
    border-bottom: 0.5px solid black!important;
    box-shadow: 0 0 0 0 black!important;
}

#text-news{
    text-align: justify;
    font-family: "timess", Times, serif !important;
}

.branding{
    display: none !important;
}

.show-branding #branding{
    display: none !important;
}

#adhere-button{
    background-color: #d20012 !important;
    margin-top: 5%;
}

.center-btn{
    text-align: center;
}

.collection .collection-item.avatar p{
    width: 96%;
    padding-left: 0.5%;
}

.collection .collection-item.avatar .title{
    padding-left: 0.5%;
}

.ui-dialog.ui-corner-all.ui-widget.ui-widget-content.ui-front.ui-draggable.ui-resizable{
    width: 100% !important;
    height: 100% !important;
    z-index: 4 !important;
}

#pdf{
    width: 100% !important;
    height: 100% !important; 
}

#dialog{
    width: 100% !important;
    height: 100% !important;
}

.trigger-menu{
    z-index: 3 !important;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 992px){
    #develop{
        margin-left: 2%;
        margin-top: 2%;
    }

    #slide-out{
        width: 55%;
        margin-top: 0;
        margin-left: 0;
        height: 100%;
        z-index: 1000 !important;
    } 

    #hide-zone{
        top: 0;
        height: 11vw;
        min-width: 100%;
        z-index: -1 !important;
    }

    #logo{
        width: 40%;
        left: 3%;
        top: 12vw;
    }

    #contact-informations{
        top: 12vw;
        left: 50%;
        font-size: 3vw;
        width: 50%;
        z-index: 3;
        line-height: 3.5vw;
    }

    #bat{
        font-size: 2.5vw;
    }

    #slideshow{
        position: fixed;
        top: 30vw;
        left: 3%;
        float: left;
        max-width: 94%;
        z-index: 3 !important;
    }

    #main {
        margin-top: 45vw;
        margin-left: 5%;
        margin-right: 5%;
        font-size: 5vw !important;
        z-index: -1 !important;
        font-family: "timess", Times, serif;
    }

    #slide-out{
        font-size: 4vw;
    }

    #slide-out a{
        font-size: 3vw !important;
    }
    
    #slide-out a.fab{
        font-size: 7vw !important;
    }

    #namanyay-search-box{
        width: 60% !important;
    }

    .dot {
        cursor: pointer;
        height: 15px;
        width: 15px;
        margin: 15 8px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
    }
}